# Virtual TouchPad example configuration file
# uncomment any of the [parameter] [option] lines and edit them to your needs

# maximum number of connections
#max-connections 2 

# define mouse listening port
#mouse-port 6781




# mouse character special file
#mouse-device-file /dev/virtual_touchpad

